/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --bg-color: #fff;
  --accent-color: #000;
  --button-text-color: #fff;
  --heart-contour-color: #000;
  --heart-sparks-color: #ff0000;
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --main-background-picture: repeating-linear-gradient(
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      90deg,
      #d3d3d3,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(to bottom, #e7e7e7, #e7e7e7 0.01%, #1a1a1a 100%);
  --main-text-weight: 400;
  --main-title-weight: 700;
  --floppy-size: 21;
}
